.Home > p {
    font-size: 1.2rem;
    text-align: justify;
    padding: 2rem 3rem 0rem;
}

.Home > .Home_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.Home > .Home_form > form {
    display: flex;
    flex: 1 1 auto;
    gap: 1rem;
}

.Home > .Home_form input[type='text'] {
    border: 1px solid var(--theme-body-txt);
    border-radius: 5px;
    font-size: 1.5rem;
}

.Home .buttons {
    justify-content: center;
}

@media only screen and (max-width : 768px) {
    .Home > .Home_form > form {
        flex-direction: column;
    }
}