.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  background-color: var(--theme-body-bg);
}


.wrapper > header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color_1);
}

.wrapper > header > h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--theme-body-txt);
}

.wrapper > main {
  flex-grow: 5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 10vw;
}

.wrapper > footer {
  background-color: var(--theme-color_5);
  color: var(--theme-body-txt);
  flex-grow: auto;
  display: flex;
  justify-content: flex-end;
  padding: .5rem 1rem .5rem 0;
  font-size: .6rem;
}